{% extends "employee_navigation_bar.html" %}
{% block header_content %}
    <link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
    <title>Data Display</title>
{% endblock %}
{% block content %}
    <header>
        <h2>Data Display</h2>
    </header>

    <main>
        
        <h3>Managers</h3>
        <table>
            <thead>
                <tr>
                    <th>Manager ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Admin ID</th>
                    <th>Admin Name</th>
                    <th>Project ID</th>
                    <th>Project Name</th>
                </tr>
            </thead>
            <tbody>
                {% for manager in managers %}
                <tr>
                    <td>{{ manager.manager_id }}</td>
                    <td>{{ manager.manager_name }}</td>
                    <td>{{ manager.gender }}</td>
                    <td>{{ manager.email }}</td>
                    <td>{{ manager.admin_id }}</td>
                    <td>{{ manager.admin_name }}</td>
                    <td>{{ manager.project_id }}</td>
                    <td>{{ manager.project_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h3>Employees</h3>
        <table>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Admin ID</th>
                <th>Admin Name</th>
                <th>Manager ID</th>
                <th>Manager Name</th>
                <th>Project ID</th>
                <th>Project Name</th>
                
            </tr>
            <!-- Loop through data -->
            {% for data_entry in data_entries %}
            <tr>
                <td>{{ data_entry.emp_id }}</td>
                <td>{{ data_entry.emp_name }}</td>
                <td>{{ data_entry.gender }}</td>
                <td>{{ data_entry.email }}</td>
                <td>{{ data_entry.admin_id }}</td>
                <td>{{ data_entry.admin_name }}</td>
                <td>{{ data_entry.manager_id }}</td>
                <td>{{ data_entry.manager_name }}</td>
                <td>{{ data_entry.project_id }}</td>
                <td>{{ data_entry.project_name }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}