body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h2 {
    text-align: center;
}

/* Add a specific class for the form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.form-container h2 {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between; /* Space between label and input */
    margin-bottom: 15px;
}

.form-group label {
    width: 100px; /* Set a fixed width for labels */
    text-align: left; /* Left-align the text inside the label */
}

.form-group input , .form-group textarea, .form-group select {
    /* Align input tags to the right */
    text-align: right;
    padding: 5px;
    width: 270px; /* Set a fixed width for inputs */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: bold;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
