body {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  font-family: 'Montserrat', sans-serif;
}
.header-text {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333; /* Choose your desired color */
  padding: 20px 0;
  background-color: #fff; /* Background color for the header */
  opacity: 0;
  animation: fadeIn 1s ease forwards; /* Animation */
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative; /* Required for submenus */
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  display: block; /* Ensure full width for hover effect */
}
nav ul li a:hover {
  background-color: #555;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 0;
  top: 100%; /* Position below parent item */
  left: 0;
  width: 200px; /* Set submenu width */
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  display: block;
  margin: 0;
}
nav ul li ul li a {
  padding: 10px 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dddddd;
  left: 0; /* Align dropdown content to the left of the parent */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #555;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
