{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
<title>Assign Project</title>
{% endblock %}

{% block content %}
    <h2>Employee Information</h2>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Skills</th>
            <th>Project to Assign</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.emp_name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.skills }}</td>
            <td>
                <select id = "project-{{employee.emp_id}}">
                {% for project in employee_projects %}
                    <option value = '{{project.project_id}}'>{{project.project_id}} : {{project.project_name}}</option>
                {% endfor %}
                </select>
            </td>
            <td>

                <button onclick="assignEmployeeProject('{{ employee.emp_id }}')">Assign Project</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Manager Information</h2>
    <table>
        <tr>
            <th>Manager ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project to Assign</th>
            <th>Action</th>
        </tr>
        {% for manager in managers %}
        <tr>
            <td>{{ manager.manager_id }}</td>
            <td>{{ manager.manager_name }}</td>
            <td>{{ manager.gender }}</td>
            <td>{{ manager.mobile }}</td>
            <td>{{ manager.email }}</td>
            <td>{{ manager.project_id }}</td>
            <td>{{ manager.project_name }}</td>
            <td>
                <select name = "unassinged_project" id = "project-{{manager.manager_id}}">
                {% for unassinged_project in manager_projects %}
                    <option value = '{{unassinged_project.project_id}}'>{{unassinged_project.project_id}} : {{unassinged_project.project_name}}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <button onclick="assignManagerProject('{{ manager.manager_id }}')">Assign Project</button>

            </td>
        </tr>
        {% endfor %}
    </table>
    <script src = "../../static/js/admin/assign_project.js"></script>
{% endblock %}