{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<link rel = "stylesheet" type = "text/css" href = "../../static/css/form_style_II.css">
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">

<title>Project Form</title>
{% endblock %}
{% block content %}
<h2>Project Form</h2>
<div class = "form-container">
<form id = "myForm" >
  <input type = "hidden" name = "admin_id" id = "admin_id" value = "{{admin.admin_id}}">
  <div class = "form-group">
    <label for="projectId">Project ID:</label>
    <input type="text" id="projectId" name="project_id" required>
  </div>
  <div class = "form-group">
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" name="project_name" required>
  </div>
  
  <div class = "form-group">
    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="dead_line" required>
  </div>
  <div class = "form-group">
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea>
  </div>
  <div class = "form-group">
    <label for="assignTo">Assign Project To:</label>
    <select id="assignTo" name="assign_to" required>
      <option value = "Later">Later</option>
      {% for manager in managers %}
      <option value="{{manager.manager_id}}">{{manager.manager_id}} : {{manager.manager_name}}</option>
      {% endfor %}
      <!-- Add more options as needed -->
    </select>
  </div>
  <div class = "form-group">
    <button type="submit" id="submitButton">Submit</button>
  </div>
</form>
</div>
<script src = "../../static/js/admin/create_project.js"></script>
{% endblock %}
