{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
<title>Data Display</title>
{% endblock %}
{% block content %}
    <header>
        <h2>Data Display</h2>
    </header>

    <main>
        <table>
            <tr>
                <th>Manager Name</th>
                <th>Manager ID</th>
                <th>Project Name</th>
                <th>Project ID</th>
                <th>Employee Name</th>
                <th>Employee ID</th>
                <th>Action</th>
            </tr>
            <!-- Loop through data -->
            {% for data_entry in data_entries %}
            <tr>
                <td>{{ data_entry.manager_name }}</td>
                <td>{{ data_entry.manager_id }}</td>
                <td>{{ data_entry.project_name }}</td>
                <td>{{ data_entry.project_id }}</td>
                <td>{{ data_entry.emp_name }}</td>
                <td>{{ data_entry.emp_id }}</td>

                <td>
                    <!-- Buttons for accepting and rejecting requests -->
                    <button onclick="acceptRequest('{{ data_entry.emp_id }}','{{ data_entry.project_id }}','{{ data_entry.manager_id }}')">Accept</button>
                    <button onclick="rejectRequest('{{ data_entry.emp_id }}','{{ data_entry.project_id }}','{{ data_entry.manager_id }}')">Reject</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <script src = "../../static/js/admin/manager_request_to_remove_emp_from_project.js"></script>
    

{% endblock %}
