{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
<title>Employee & Manager Remove</title>
{% endblock %}
{% block content %}
    <header>
        <h2>Employee & Manager Remove</h2>
    </header>

    <main>
        <h3>Managers</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            <!-- Loop through manager data -->
            {% for manager in managers %}
            <tr>
                <td>{{ manager.name }}</td>
                <td>{{ manager.id }}</td>
                <td>{{ manager.email }}</td>
                <td>{{ manager.mobile }}</td>
                <td>{{ manager.gender }}</td>
                <td>
                    <!-- Button for removing manager -->
                    <button onclick="removeManager('{{ manager.id }}')">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Employees</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            <!-- Loop through employee data -->
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.id }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.mobile }}</td>
                <td>{{ employee.gender }}</td>
                <td>
                    <!-- Button for removing employee -->
                    <button onclick="removeEmployee('{{ employee.id }}')">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <script src = "../../static/js/admin/remove_employee.js"></script>
{% endblock %}
