{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
<title>Unassign Project</title>
{% endblock %}
{% block content %}
    <h2>Employee Information</h2>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Manager ID</th>
            <th>Manager Name</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.emp_name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.project_id }}</td>
            <td>{{ employee.project_name }}</td>
            <td>{{ employee.manager_id }}</td>
            <td>{{ employee.manager_name }}</td>
            <td>

                <button onclick="unassignEmployeeProject('{{ employee.emp_id }}')">Unassign Project</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Manager Information</h2>
    <table>
        <tr>
            <th>Manager ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project To Unassign</th>
            <th>Action</th>
        </tr>
        {% for manager in managers %}
        <tr>
            <td>{{ manager.manager_id }}</td>
            <td>{{ manager.manager_name }}</td>
            <td>{{ manager.gender }}</td>
            <td>{{ manager.mobile }}</td>
            <td>{{ manager.email }}</td>
            <td>{{ manager.project_id }}</td>
            <td>{{ manager.project_name }}</td>
            <td>
                <Select id = "project-{{manager.manager_id}}">
                    {% for id_of_project in manager.project_id.split(", ") %}
                    <option value = "{{id_of_project}}">{{id_of_project}} : {{name_of_project}} </option>
                    {% endfor %}
                </Select>
            </td>
            
            <td>
                <button onclick="unassignManagerProject('{{ manager.manager_id }}')">Unassign Project</button>

            </td>
        </tr>
        {% endfor %}
    </table>
    <script src = "../../static/js/admin/unassign_project.js"></script>
{% endblock %}