
{% extends "admin_navigation_bar.html" %}
{% block header_content %}
<title>Assign Project</title>
<link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
<link rel="stylesheet" type = "text/css" href="../../static/css/admin/update_skills.css">
{% endblock %}
{% block content %}
    <h2>Employee Information</h2>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Skills</th>
            <th>Skills To Update</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.emp_name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.skills }}</td>
            <td>
                <textarea type="text" name="new_skills-{{employee.emp_id}}" id="new_skills-{{employee.emp_id}}" style="height:50px;"></textarea>
            </td>
            <td>

                <button onclick="addSkills('{{ employee.emp_id }}')">Add Skill</button>
                <button onclick="replaceSkills('{{ employee.emp_id }}')">Replace Skill</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <script src = "../../static/js/admin/update_skills.js"></script>
{% endblock %}