{% extends "manager_navigation_bar.html" %}
{% block header_content %}
    <link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
    <link rel = "stylesheet" type = "text/css" href = "../../static/css/search_bar.css">
    <title>Records</title>
{% endblock %}
{% block content %}
    <h2>Records</h2>
    <div class = "outer-container">
        <div class="search-container">
            <form id="searchForm" >
                <input type="text" id="searchInput" class="search-input" name="skill" placeholder="Search...">
                <button class="search-button" >Filter</button>
            </form>
        </div>
    </div>
    
    <h3>Workers</h3>
    <input type = "hidden" id="manager_id" name = "manager_id" value = '{{manager.manager_id}}'>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>skills</th>
                <th>Projects</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for worker in workers %}
            <tr>
                <td>{{ worker.emp_id }}</td>
                <td>{{ worker.emp_name }}</td>
                <td>{{ worker.gender }}</td>
                <td>{{ worker.mobile }}</td>
                <td>{{ worker.email }}</td>
                <td>{{ worker.skills }}</td>
                <td>
                    <select id = "project-{{worker.emp_id}}">
                        {% for project in projects %}
                        <option value="{{project.project_id}}">{{ project.project_id }} : {{project.project_name}} </option>
                        {% endfor %}
                    </select>
                </td>
                <td><button onclick="requestForEmployees('{{ worker.emp_id }}')">Request</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src = "../../static/js/manager/filter_employee_for_project.js"></script>

{% endblock %}