{% extends "manager_navigation_bar.html" %}
{% block header_content %}
    <link rel = "stylesheet" type = "text/css" href = "../../static/css/table_stylesheet.css">
    <title>Records</title>
{% endblock %}
{% block content %}
    <h2>Project Records</h2>
    


    <h3>Projects</h3>
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Description</th>
                <th>Update status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.project_id }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.dead_line }}</td>
                <td>{{project.status}}</td>
                <td>{{ project.description }}</td>
                <td>
                    <select id = "status-{{project.project_id}}">
                        {% for status in status_list %}
                        <option value = '{{status}}' >{{status}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button onclick="updateProjectStatus('{{manager.manager_id}}','{{project.project_id}}')">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src = "../../static/js/manager/update_project_status.js"></script>
{% endblock %}