{% extends "navigation_bar.html" %}
    {% block header_content %}
    <link rel = "stylesheet" type = "text/css" href = "../static/css/admin/navigation_bar.css">
    <title>Home</title>
    {% endblock %}

    {% block content %}
    <main style="text-align: center;">
        <!-- Your main content goes here -->
        <section>
            <h2 >Welcome to Employee Management Portal</h2>
            <p>This project is entrusted to me by Nucleus Teq Pvt Limited as my Capstone Project.</p>
        </section>
    </main>
    {% endblock %}

