
{% extends "navigation_bar.html" %}
{% block header_content %}
    <link rel = "stylesheet" type = "text/css" href="../static/css/form_style_II.css">
    <title>Joining Request</title>
{% endblock %}
{% block content %}
    <div id = "header">
        <h2>Joining Request Form</h2>
    </div>

    <div class="form-container">
        <form id = "employeeRegistrationForm" action="#" method="POST" >
            <div class="form-group">
                <label for="id">Username:</label>
                <input type="text" id="id" name="id" required><br>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
            </div>
            
            <div class="form-group">
                <label for="emp_type">Employee Type:</label>
                <select id="emp_type" name="emp_type" required>
                    <option value="Manager">Manager</option>
                    <option value="Employee">Employee</option>
                </select><br>
            </div>
            <div class="form-group">
                <label for="admin_id">Admin: </label>
                <select id="admin_id" name = "admin_id" required>
                    {% for data in data_entries %}
                        <option value="{{data.admin_id}}">{{data.admin_id}} : {{data.admin_name}}</options>
                    {% endfor %}
                </select><br>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder = "qwerty@nucleusteq.com" required><br>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" id="mobile" name="mobile" required><br>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-binary">Non-binary</option>
                    <!-- Add more gender options as needed -->
                </select><br>
            </div>
            <div class="form-group">
                <label for="date_of_joining">Date of Joining:</label>
                <input type="date" id="date_of_joining" name="date_of_joining" required><br>
            </div>           
            <button type="submit" id ="submit">Submit</button>
        </form>
        <!-- <scrpit src = "../static/js/joining_request.js" defer></scrpit> -->
        <script>
            
console.log("js linked correctly");
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('employeeRegistrationForm');

    if (form) {
        form.addEventListener('submit', async function(event) {
            console.log("i am in register employees");
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(form);
            const data = {};

            formData.forEach((value, key) => {
                data[key] = value;
            });
            
            const jsonData = JSON.stringify(data);
            console.log(jsonData)
            try {
                const response = await fetch('/registration_form', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                });

                if (response.ok) {
                    alert('Form submitted successfully!');
                    location.reload();
                    
                } else {
                    alert('Form submission failed.');
                    if (response.status === 422) {
                        // Unauthorized - show error message
                        const errorDetail =await response.json();
                        alert(errorDetail.detail);
                        alert("Password must be alpha Numeric With atleast 1 Upper Case and 1 Lowercase alphabet \n Email must bolong organization ");
                        // window.location.href = '/registration_form';
                    }
                    // location.reload();
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred during form submission.');
            }
        });
    } else {
        console.error('Form not found!');
    }
});

        </script>
    </div>
    

{% endblock %}